*{
	box-sizing: border-box;
	font-family: arial;
	font-size: 20px;
	margin:0;
	padding:0;
}

body{
	background-color: #B7B8C3;
}
#calculator{
	background-color: #999aa3;
	width:250px;
	height:350px;
	margin:0 auto;
	margin-top: 50px;
	padding-top:40px;
}

#display{
	width:220px;
	height:40px;
	margin-left:15px;
	margin-bottom: 30px;
	text-align: right;
	background-color: white;
	font-size: 30px;
	padding:3px;

}
button{
	width:47px;
	height:35px;
	margin:4px;
}
.row{
	display: flex;
	align-items:center;
	justify-content:center;
}
.bigButton{
	width:102px;
}
